/* FONT CDN  */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #14532d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14532d8e;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 400px) {
  #max-w-sm {
    max-width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  #profileInfoContainer {
    position: unset;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
