/* @import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #14532d;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14532d8e;
}

@media screen and (max-width: 400px) {
  #max-w-sm {
    max-width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  #profileInfoContainer {
    position: unset;
  }
}

@keyframes animation1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
